html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img {
  object-fit: cover;
  object-position: 0 30%;
}

/* --- toast -----*/

.toast_info {
  color: #00529b;
  background-color: #bde5f8;
}
.toast_success {
  color: #4f8a10;
  background-color: #dff2bf;
}
.toast_warning {
  color: #9f6000;
  background-color: #feefb3;
}
.toast_error {
  color: #d8000c;
  background-color: #ffd2d2;
}

/*--------- imports ------------ */
@import url("./products.css");

/* ---------form --------------*/

@import url("./form.css");
