.profile_page .avatar {
  position: relative;
  overflow: hidden;
}
.profile_page .avatar span {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  background: #fff8;
  text-transform: uppercase;
  color: #f25405;
  transition: 0.3s ease-in-out;
}

.profile_page .avatar:hover span {
  bottom: -15%;
}

.profile_page #file_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
